.form{
    width: 400px;
height: 600px;


background: #FFFFFF;
border: 1px solid #95A0A7;
border-radius: 8px;
margin: 50px auto;
padding: 50px;
}

.signIn{
    font-weight: 700;
font-size: 35px;
line-height: 42px;
text-align: center;
}

.input-container label{
display: block;
font-size: 18px;
font-weight: 500;
color: #2A414F;
margin-bottom: 10px;
}

.input-container input{
    width: 415px;
height: 55px;
padding-left: 15px;
font-size: 20px;
margin-bottom: 10px;


border: 1px solid #95A0A7;
border-radius: 5px;
}

.btn-submit{
    margin-top: 20px;
    width: 415px;
height: 55px;


background: rgba(255, 153, 0, 0.3);
border-radius: 5px;
border: none;

font-weight: 400;
font-size: 21px;
line-height: 25px;
letter-spacing: 0.0015em;

}

.btn-submit:hover{
    background-color: rgb(166, 249, 166);
}

.messig{
    text-align: center;
    font-weight: 400;
font-size: 18px;
color: #2A414F;
}

.orange{
    color: #FF9900;
    font-weight: 400;
font-size: 20px;
}
